@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-onyx : #202020;
  
  --font-Outfit: "Outfit", sans-serif;

  --breakpoint-2xl: 100rem;
  --breakpoint-msi: 92rem;
}

*{
  font-family: var(--font-Outfit);
}