@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --color-back : #FCE8E8;
  --color-primary : #333333;
  --color-secondary : #D12E2E;
  --color-secondaryAccent : #FDEDED;
  
  --font-kanit: "Kanit", sans-serif;
}

*{
  font-family: var(--font-kanit);
  cursor: url(https://cdn.custom-cursor.com/db/4906/32/arrow2786.png), auto;
}
.pointer{
  cursor: url(https://cdn.custom-cursor.com/db/4905/32/arrow2786.png), pointer;
}

::selection{
  background: #fff;
}

::-webkit-scrollbar{
  background-color: var(--color-back);
  width: 15px;
}
::-webkit-scrollbar-track{
  border-radius: 4px;
  background-color: transparent;
  margin-block: 4px;
  padding-right: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: #333333cc;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-primary);
}